@model IEnumerable<OrdersModel>

<div class="content">
    <div class="container">
        <a class="mb-5" href="~/Home/Index">Back</a>
        <a class="mb-5" href="~/Orders/Add">Create new Order</a>
        <h2 class="mb-5">Menu</h2>
        <div class="table-responsive">
            <table class="table table-striped custom-table">
                <thead>
                <tr>
                    <th scope="col">Order #</th>
                    <th scope="col">Table Number</th>
                    <th scope="col">Ordered Time</th>
                    <th scope="col">Meals Ordered</th>
                    <th scope="col">Total $</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                @foreach (var order in Model)
                {
                    float total = 0;
                    <tr scope="row">
                        <td>@order.OrderId</td>
                        <td>@order.TableNumber.ToString()</td>
                        <td>@order.OrderedTime.ToString()</td>
                        <td>
                            <div id="ingredients">
                                <ul>
                                    @foreach (var item in order.mealsInOrder)
                                    {
                                        total += item.Price;
                                        <li>@item.Name (@item.Weight g.)</li>
                                    }
                                </ul>
                            </div>
                        </td>
                        <td>@total.ToString()</td>
                        <td>
                            <form method="post" asp-action="DeleteOrder" asp-controller="Orders">
                                <input value="@order.OrderId" type="hidden" name="Id">
                                <input type="submit" class="border-0 bg-transparent" value="Delete" class="more" data-bs-dismiss="modal">
                            </form>
                        </td>

                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
</div>
